<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UndoRedoMaximum" value="10" />
    <add key="LowerLayerBrightness" value="-0.4" />
    <add key="UpperLayerTransparency" value="0.4" />
    <add key="ShowScaleWarning" value="true" />
    <add key="ShowBlendWarning" value="true" />
    <add key="ShowTips" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>